html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Manrope';
    padding-top: 15px;

    margin: 0 auto;
}

.menu-btn, .main-section h1, .p-wrapper p, .about h2, .project-list h2,
.about p, .servises_view, .project-card-wrapper h3, .project-card-detail,
 .view_all_projects, .services h2, .service-card h3,.two-rooms-flat p,
 .contact__contact, .contact__email, .footer__menu a,.design-studio {
    letter-spacing: -0.03em;
}

/* Выравнивание всех секций */
.header, .main-section, .about, .project-list, .services, .contact { 
    width: 1180px;
    margin: 0 auto;
    padding: 0 15px;
}

/* Кнопки меню*/

.header a {
    display: inline-block;
    
}

.menu {
    float: right;
}

.menu li {
    display: inline-block;
    margin-right: 57px;

}

.menu li:last-child {
    margin-right: 0;
}

.menu-btn { 
    height: 25px;
    text-decoration: none;
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
    text-transform: uppercase;
    color: #121212;
}


.menu-btn:hover {
    opacity: 0.5;
    border-bottom: 1px solid #000000;;
}

/* >>> Главная секция */
.main-section {
    margin-top: 70px;
}

.main-section h1 {
    padding-right: 194px;

    font-weight: 400;
    font-size: 60px;
    line-height: 60px;
    color: #121212;
}

.p-wrapper {
    margin-top: 30px;
    position: relative;
    height: 500px;
    background-image: url(../resourses/main-pic.jpg);
}

.p-wrapper p {
    margin-top: 30px;
    position: absolute;
    bottom: 40px;
    left: 40px;
    width: 430px;

    font-weight: 400;
    font-size: 20px;
    line-height: 27px;
    color: #FFFFFF;
}




/* <<< Главная секция */

/* >>> Секция О НАС */
.about {
    margin-top: 151px;
    }

.about h2, .project-list h2 {
    font-size: 18px;
    line-height: 25px;
    text-transform: uppercase;
    color: #121212;
}

.about p {
    margin-top: 30px;
    padding-left: 3px;
    width: 1051px;

    font-size: 45px;
    line-height: 61px;
    color: #121212;
}

.servises_view {
    margin-top: 30px;
    display: block;
    padding: 20px 40px;
    width: 255px;
    height: 67px;
    font-size: 20px;
    line-height: 27px;
    color: #FFFFFF;
    text-align: center;
    text-decoration: none;


    background: #AD1818;
    border-radius: 5px;
}
/* <<< Секция О НАС */


/* >>> Секция Список проектов */
.project-list {
    margin-top: 150px;
}

.project-list h2 {
    margin-bottom: 30px;
}

.project-card-wrapper {
    margin-bottom: 91px;
}

.project-card-wrapper h3 {
    margin-top: 13px;

    font-size: 30px;
    line-height: 41px;
    color: #121212;    
}

.project-card-detail {
    margin-top: 14px;
    padding-left: 3px;
    display: inline-block;

    text-decoration: none;
    font-size: 20px;
    line-height: 27px;
    color: #AD1818;    
}

.view_all_projects {
    display: block;

    font-size: 30px;
    line-height: 150px;
    text-align: center;
    color: #AD1818;    
    text-decoration: none;
    border: 1px solid #AD1818;
    border-radius: 7px;
    /* filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25)); */
}
.view_all_projects:hover {
    color: #FFFFFF; 
    background-color: #AD1818;
}
/* <<< Секция Список проектов */

/* >>> Секция УСЛУГИ */
.services-wrapper {
    background: #121212;
    padding: 150px 0;
    margin-top: 150px;
    width: 100%;
}

.services {
    color: #FFFFFF; 

}

.services h2 {
    margin-bottom: 34px;
    padding-left: 4px;

    font-size: 18px;
    line-height: 25px;
    text-transform: uppercase;    
}

.service-card img {
    width: 100%;
}

.service-card {
    margin-bottom: 60px;
}

.service-card:last-child {
    margin-bottom: 0;
}

.service-card h3 {
    margin-top: 15px;
    padding-left: 4px;

    font-size: 30px;
    line-height: 39px;
}

/* <<< Секция УСЛУГИ */

/* >>> Двухкомнатная картина */
.two-rooms-flat {
    width: 100%;
    height: 717px;
    
    background-image: url(../resourses/project_of_flat.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;

}

.two-rooms-flat .container {
    margin: 0 auto;
    width: 1150px;
    height: 717px;
    position: relative;
}

.two-rooms-flat p {
    position: absolute;
    bottom: 60px;
    left: 3px;
    width: 443px;
    font-size: 30px;
    line-height: 41px;
    color: #FFFFFF;   
}

/* <<< Двухкомнатная картина */

/* >>> Контакты */
.contact {
    padding-top: 172px;
    position: relative;

    color: #121212;
}

.contact:before {
    content: '';
    display: block;
    position: absolute;
    width: 24px; height: 24px;
    top: 151px; left: 11px;


    background-image: url(../resourses/Vector.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

.contact__contact {
    margin-top: 15px;

    font-size: 18px;
    line-height: 25px;
    text-transform: uppercase;    
}

.contact__number {
    margin-top: 32px;
    display: block;

    font-size: 60px;
    line-height: 60px;
    letter-spacing: -0.01em;
    text-decoration: none;
    color: #121212;

}

.contact__email {
    font-size: 60px;
    line-height: 60px;
    text-decoration: none;
    color: #121212;
}
.contact__email-wrapper {
    margin-top: 30px;
    display: inline-block;
    height: 70px;
    padding-bottom: 10px;
    opacity: 0.5;  
    border-bottom: 2px solid #121212;
}

/* .contact__email:after {
    margin-top: 10px;
    display: block;
    content: '';
    width: 100%;
    height: 2px;
    background-color: #121212;
    opacity: 0.5;
} */
/* <<< Контакты */

/* >>> Footer */
.footer {
    margin-top: 150px;
    padding: 58px 0 30px;
    background: #121212;
    color: white;
    /* text-align: center; */

}

.footer .container {
    margin: 0 auto;
    width: 1150px;
    text-align: center;
}

/* .footer ul {
    display: block;
    margin: 0 auto;
    width: 450px;
} */

.footer__menu li {
    display: inline-block;
    margin-right: 52px;
}

.footer__menu li:last-child {
    margin-right: 6px;
}

.footer__menu a {

    font-size: 18px;
    line-height: 25px;
    text-transform: uppercase;
    text-decoration: none;
    color: white;
}
.footer__menu a:hover {
    opacity: 0.5;
}

.design-studio {
    margin-top: 87px;
    padding-left: 11px;

    text-align: center;
    opacity: 0.5;

    font-size: 20px;
    line-height: 27px;
}
/* <<< Footer */