body {
    background: #F5F5F5;
    font-family: 'Manrope';
    padding-top: 15px;
    max-width: 1400px;
    margin: 0 auto;
}

/* Выравнивание всех секций */
.header, .main-section, .about, .project-list, .services, .contact { 
    width: 1180px;
    margin: 0 auto;
    padding: 0 15px;
}

/* Кнопки меню*/

.header a {
    float: left;
}

.menu li {
    float: right;
    margin-right: 60px;
}

.menu li:first-child {
    margin-right: 0;
}

.menu-btn { 
    text-decoration: none;
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
    letter-spacing: -0.03em;
    text-transform: uppercase;
    color: #121212;
}


.menu-btn:hover {
    opacity: 0.5;
    text-decoration: underline;
}

/* >>> Главная секция */
.main-section {
    margin-top: 70px;
}

.main-section h1 {
    padding-right: 194px;

    font-weight: 400;
    font-size: 60px;
    line-height: 60px;
    letter-spacing: -0.03em;
    color: #121212;
}

.p-wrapper {
    margin-top: 30px;
    position: relative;
    height: 500px;
    background-image: url(../resourses/main-pic.jpg);
}

.p-wrapper p {
    margin-top: 30px;
    position: absolute;
    bottom: 40px;
    left: 40px;
    width: 430px;

    font-weight: 400;
    font-size: 20px;
    line-height: 27px;
    letter-spacing: -0.03em;
    color: #FFFFFF;
}




/* <<< Главная секция */

/* >>> Секция О НАС */
.about {
    margin-top: 151px;
    }

.about h2, .project-list h2 {
    font-size: 18px;
    line-height: 25px;
    letter-spacing: -0.03em;
    text-transform: uppercase;
    color: #121212;
}

.about p {
    margin-top: 30px;

    font-size: 45px;
    line-height: 61px;
    letter-spacing: -0.03em;
    color: #121212;
}

.servises_view {
    margin-top: 30px;
    display: block;
    padding: 20px 40px;
    width: 255px;
    height: 67px;
    font-size: 20px;
    line-height: 27px;
    letter-spacing: -0.03em;
    color: #FFFFFF;
    text-align: center;
    text-decoration: none;


    background: #AD1818;
    border-radius: 5px;
}
/* <<< Секция О НАС */


/* >>> Секция Список проектов */
.project-list {
    margin-top: 150px;
}

.project-list h2 {
    margin-bottom: 30px;
}

.project-card-wrapper {
    margin-bottom: 90px;
}

.project-card-wrapper h3 {
    margin-top: 15px;

    font-size: 30px;
    line-height: 41px;
    letter-spacing: -0.03em;
    color: #121212;    
}

.project-card-detail {
    margin-top: 15px;

    text-decoration: none;
    font-size: 20px;
    line-height: 27px;
    letter-spacing: -0.03em;
    color: #AD1818;    
}

.view_all_projects {
    display: block;

    font-size: 30px;
    line-height: 153px;
    text-align: center;
    letter-spacing: -0.03em;
    color: #AD1818;    
    text-decoration: none;
    border: 1px solid #AD1818;
    border-radius: 7px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}
.view_all_projects:hover {
    color: #FFFFFF; 
    background-color: #AD1818;
}
/* <<< Секция Список проектов */

/* >>> Секция УСЛУГИ */
.services-wrapper {
    background: #121212;
    padding: 150px 0;
    margin-top: 150px;
}

.services {
    color: #FFFFFF; 
}

.services h2 {
    margin-bottom: 34px;

    font-size: 18px;
    line-height: 25px;
    letter-spacing: -0.03em;
    text-transform: uppercase;    
}

.service-card {
    margin-bottom: 60px;
}

.service-card:last-child {
    margin-bottom: 0;
}

.service-card h3 {
    margin-top: 15px;

    font-size: 30px;
    line-height: 41px;
    letter-spacing: -0.03em;
}

/* <<< Секция УСЛУГИ */

/* >>> Двухкомнатная картина */
.two-rooms-flat {
    width: 100%;
    height: 717px;
    position: relative;
    background-image: url(../resourses/project_of_flat.jpg);
}

.two-rooms-flat p {
    position: absolute;
    bottom: 60px;
    left: 125px;
    width: 443px;
    font-size: 30px;
    line-height: 41px;
    letter-spacing: -0.03em;
    color: #FFFFFF;   
}

/* <<< Двухкомнатная картина */

/* >>> Контакты */
.contact {
    color: #121212;
    padding-top: 150px;
}

.contact__contact {
    margin-top: 15px;

    font-size: 18px;
    line-height: 25px;
    letter-spacing: -0.03em;
    text-transform: uppercase;    
}

.contact__number {
    margin-top: 32px;

    font-size: 60px;
    line-height: 60px;
    letter-spacing: -0.03em;
}

.contact__email {
    margin-top: 30px;
    display: inline-block;

    font-size: 60px;
    line-height: 60px;
    letter-spacing: -0.03em;
    opacity: 0.5;  
    border-bottom: 1px solid #121212;
}
/* <<< Контакты */

/* >>> Footer */
.footer {
    margin-top: 150px;
    padding: 60px 0 30px;
    background: #121212;
    color: white;
    text-align: center;

}

.footer__menu li {
    display: inline-block;
    margin-right: 55px;
}

.footer__menu a {

    font-size: 18px;
    line-height: 25px;
    letter-spacing: -0.03em;
    text-transform: uppercase;
    text-decoration: none;
    color: white;
}
.footer__menu a:hover {
    opacity: 0.5;
}

.design-studio {
    margin-top: 87px;

    opacity: 0.5;
}
/* <<< Footer */